@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
  color: #222;
  font-weight: 300;
}

b,
strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
}

ul,
ol,
p {
  margin-top: 0;
  margin-bottom: 24px;
}

.button {
  padding: 16px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #fff;
  background-color: #c03089;
  border: 1px solid #c03089;
  border-radius: 99999rem;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.button:hover,
.button:focus {
  outline: 0;
  background-color: #6e1c4f;
  border-color: #6e1c4f;
}

.button-outline {
  background-color: #fff;
  color: #c03089;
  border: 1px solid #c03089;
}

.button-outline:hover,
.button-outline:focus {
  background-color: #fff;
  border-color: #6e1c4f;
  color: #6e1c4f;
}

.table {
  margin-bottom: 24px;
}

.row {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.col {
  flex: 1;
  padding-left: 4px;
  padding-right: 4px;
}

.empty {
  text-align: center;
  margin-top: 24px;
  font-weight: 500;
}

.actions-col {
  display: flex;
  gap: 4px;
}

.action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  line-height: 1;
  border: 1px solid #222;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.form-control {
  margin-bottom: 8px;
}

.label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 500;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 4px;
}
